
<div class="row">
  <div class="col-md-4">
    <!-- empty -->
  </div>
  <div class="form_input">
    <%= form_for @review do |f|%>
        <p><%= f.text_field :title, size:'50', class:"input_field", placeholder:'Title' %></p>
        <p><%= f.password_field :content, size:'50', class:"input_field", placeholder:'Content' %></p>
       <p><%= f.submit "Post Review", class:'button' %></p>
       <% if @review.errors.any? %>
        <p class="alert">
          <% @review.errors.full_messages.each do |e| %>
           <%= e %><br/>
           <% end %>
         </p>
         <% end %>
         <% end %>
 </div>
 <div class="col-md-4">
         <!-- empty -->
  </div>
 </div>
