<div class="row">
  <div class="col-md-4">
    <!-- empty -->
  </div>
  <div class="form_input">
    <%= form_for @user do |f|%>
        <p><%= f.text_field :username, size:'50', class:"input_field", placeholder:'Username' %></p>
        <p><%= f.password_field :password, size:'50', class:"input_field", placeholder:'Password' %></p>
        <p><%= f.password_field :password_confirmation, size:'50', class:"input_field", placeholder:'Password Confirmation' %></p>
        <p><%= f.submit "Register", class:'button' %></p>
        <p><%= link_to "Already have an account? Login here.", login_path %></p>
        <% if @user.errors.any? %>
          <p class="alert">
            <% @user.errors.full_messages.each do |e| %>
              <%= e %><br/>
            <% end %>
          </p>
        <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <!-- empty -->
  </div>
</div>
