<div class="row">
  <div class="project-container">
    <div class="row">
      <div class="project-container-title">
        <h2>Top Projects</h2>
      </div>
    </div>
    <div class="row">
      <% @topProj.each do |tp| %>
        <div class="project-container-item">
          <% if tp.pictures[0] != nil %>
            <%= image_tag tp.pictures[0], size:'250x250', style:'padding-top:20px' %>
          <% else %>
            <img src="http://wordpress.smartaddons.com/themes/sw_chamy/wp-content/themes/sw_chamy/assets/img/no-thumbnail.png" width="250px" height="250px" style="padding-top:20px"/>
          <% end %>
          <div class="project-description">
            <h3><%= tp.title %></h3>
            <%= tp.description %>
          </div>
          <% if current_user && current_user.isAdmin %>
            <div class="project-edit-delete">
              <%= button_to 'Delete', project_delete_path(toDelete: tp.id), class:"button"%>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="project-container-title">
        <h2>New Projects</h2>
      </div>
    </div>
    <div class="row">
      <% @newProj.each do |np| %>
        <div class="project-container-item">
          <% if np.pictures[0] != nil %>
            <%= image_tag np.pictures[0], size:'250x250', style:'padding-top:20px' %>
          <% else %>
            <img src="http://wordpress.smartaddons.com/themes/sw_chamy/wp-content/themes/sw_chamy/assets/img/no-thumbnail.png" width="250px" height="250px" style="padding-top:20px"/>
          <% end %>
          <div class="project-description">
            <h3><%= np.title %></h3>
            <%= np.description %>
          </div>
          <div class="project-edit-delete">
            <%= button_tag 'Delete', class:"button"%>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
