<div class="row">
  <div class="col-md-4">
    <!-- empty -->
  </div>
  <div class="form_input">
    <%= form_for @new_achievement do |f|%>
        <p><%= f.text_field :title, class:"input_field col-xs-12", placeholder:'Title' %></p>
        <p><%= f.text_area :description, class:"input_field2 col-xs-12", placeholder:'Description' %></p>
        <p><%= f.file_field :pictures, multiple: true %></p>
        <p><%= f.submit "Add", class:'button' %></p>
        <% if @new_achievement.errors.any? %>
          <p class="alert">
            <% @new_achievement.errors.full_messages.each do |e| %>
              <%= e %><br/>
            <% end %>
          </p>
        <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <!-- empty -->
  </div>
</div>
