<div class="row">
  <div class="project-container">
    <div class="row">
      <% if flash[:achievementToShow].present? %>
          <div class="col-sm-4"></div>
          <div class="projectAchievement">
            <%= flash[:achievementToShow] %>
          </div>
          <div class="col-sm-4"></div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="project-container">
    <div class="row">
      <div class="project-container-title">
        <h2>My Projects</h2>
      </div>
    </div>
    <% i = 0 %>
    <div class="row">
      <% @my_projects.each do |mp| %>
      <% i = i + 1 %>
        <div class="project-container-item">
          <% if mp.pictures[0] != nil %>
            <%= image_tag mp.pictures[0], size:'250x250', style:'padding-top:20px' %>
          <% else %>
            <img src="http://wordpress.smartaddons.com/themes/sw_chamy/wp-content/themes/sw_chamy/assets/img/no-thumbnail.png" width="250px" height="250px" style="padding-top:20px"/>
          <% end %>
          <div class="project-description">
            <h3><%= mp.title %></h3>
            <%= mp.description %>
          </div>
          <% if current_user %>
            <div class="project-edit-delete">
              <%= button_to 'Edit', project_edit_path(toEdit: mp.id), class:"button", style:"float:left"%>
              <%= button_to 'Delete', project_delete_path(toDelete: mp.id), class:"button", style:"float:right"%>
            </div>
          <% end %>
        </div>

        <!-- if 4 blocks then add a new row -->
        <% if i == 4 %>
          </div>
          <div class="row">
        <% end %>
      <% end %>
    </div>
  </div>
</div>
