<div class="row">
  <div class="col-md-3"></div>
  <div class="project-view-container-item">
    <div class="project-description">
      <h3><%= @current_project.title %><br></h3>
      <%= @current_project.rating %> <%= image_tag('coin.png', size:'25x25') %>
      <br>
      <%= @current_project.description %>
    </div>
    <div style="margin-bottom:5%">
      <% for i in 0..@current_project.pictures.size - 1 %>
        <% if @current_project.pictures[i] != nil %>
          <%= image_tag(@current_project.pictures[i], width:'200', style:'margin: 0 1%') %>
        <%end%>
      <%end%>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3">
    <!-- empty -->
  </div>
  <div class="review_input">
    <% if !@current_project.reviews.any? && current_user.projects.include?(@current_project) %>
      <h3 style="text-align:center">There are no reviews</h3>
    <% end %>
    <% if @current_project.reviews.any? %>
      <h3 style="text-align:center">Reviews</h3>
      <% @current_project.reviews.each do |rev| %>
        <div class="project-review-container-item">
          <div class="project-description">
            <h5 style="text-align:left"><%= rev.user.username %></h5>
            <h3><%= rev.title %></h3>
            <%= rev.content %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if !current_user.projects.include?(@current_project) %>
      <%= form_for @review do |f|%>
          <h3 style="text-align:center">Add new Review</h3>
          <p><%= f.text_field :title, size:'50', class:"input_field", placeholder:'Title' %></p>
          <p><%= f.text_area :content, size:'55x10', placeholder:'Content' %></p>
          <p>Rating <%= select_tag 'rating', "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>".html_safe %></p>
          <p><%= f.button :Add, name: 'toFind', value: @current_project.id , class:'button' %> </p>
      <% end %>
      <% if flash[:alert].present? %>
        <p class="alert"><%= flash[:alert] %></p>
      <% end %>
    <% end %>

  </div>
  <div class="col-md-3">
    <!-- empty -->
  </div>
</div>
